{% extends "layout/backend_layout.twig" %}

{% block content %}
	<style type="text/css">
	#DEACTIVATE{
		background: rgba(255, 17, 0, 0.32);
		color: white;
	}
	#ACTIVE{
		background: rgb(62, 138, 214);
		color: white;
	}
	</style>
{% if error %}
<div class="alert alert-danger alert-dismissable fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Noticia!</strong> No a seleccionado ningun detalle para trabajar
</div>
{% endif %}
<form method="post" action="/backend">
	<div class="container-fluid" style="padding-left: 400px; padding-right:0;">
		<div id="right-bar">
			<div id="example" class="right-settings">
				<button type="submit" class="btn btn-warning" title="Editar" name="method" value="editUrl">
					<span class="fa fa-pencil"></span>
				</button>
				<button type="submit" class="btn btn-danger" title="Eliminar" name="method" value="deleteUrl">
					<span class="fa fa-trash-o"></span>
				</button>
			</div>	
			<div class="right-logo">
				<div class="right-text">Detalles</div>
			</div>
			</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Calidad</th>
				<th>URLs</th>
				<th>Estado</th>
				<th>Fecha</th>
				<th>Idioma</th>
				<th>Nº Reprod</th>
				<th>Usuario</th>
			</tr>
		</thead>
		<tbody>
			{% for detalle in detalles %}
			<tr id="{{detalle.estado}}" style="cursor:pointer">
				<td><input type="radio" name="argument" value="{{detalle.idvideo}}"></td>
				<td>{{detalle.calidad}}</td>
				<td><a href="{{detalle.url}}">URL {{detalle.idvideo}}</a> </td>
				<td>{{detalle.estado}}</td>
				<td>{{detalle.fecha}}</td>
				<td>{{detalle.idioma}}</td>
				<td>{{detalle.numReproducion|number_format}}</td>
				<td>{{detalle.idusuario}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
</div>	

<button type="button" class="btn btn-default" onclick="history.back()">
 	<span class="glyphicon glyphicon-chevron-left" ></span> Atras
</button>
	<script>
		$("tbody tr").click(function () {	 
			 $(this).find('td input:radio').prop('checked', true);
		});	
	</script>   
{% endblock %}